.container{
    display: flex;
    justify-content: center;
    
}
.form{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 60vw;
    margin-top: 50px;
}
.form select{
    margin: 20px 0px;
    width: 300px;
    height: 60px;
    border-radius: 10px;
    outline: none;
    background-color: #fff;
   
    border: 1px solid rgba(128, 128, 128, 0.568);
    text-indent: 5px;
    font-size: 16px;
}
.incontent{
 min-height: 200px
}
.incontent ::placeholder{

    margin: 10px;
}

.button{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: blueviolet;
    border: none;
    margin: 50px 0px;
    font-size: 20px;
}