
.botbox{
    position: relative;
    margin-top: 50px;
    bottom: 0px;
    left: 0px !important;
    display: flex;
    width: 100%;
    height: 420px;
    align-items: center;
    background-color: black;
    justify-content:flex-start ;
    color: white;
}
.nir{
    
    border-radius: 50%;
    margin-left: 100px;   
}
.detials{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-left: 50px;
}
.projects{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-left: 70px;
}
.skill{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-left: 70px;
}
.Link{
    color: white;
}

@media only screen and (max-width:1115px){
    .skill{
        display: none;
    }
}
@media only screen and (max-width:975px){
    .projects{
        display: none;
    }
    .nir{
        margin-left: 30px;
    }
}
@media only screen and (max-width:975px){
    .botbox{
        height: 750px;
        align-items: baseline;
        text-align: center;
        
    }
    .nir{
        position: absolute;
        margin-left: 50%;
        transform: translate(-50%);
        margin-top: 50px ;
    }
    .detials{
        margin-top: 400px;
        margin-left: 50%;
        transform: translate(-50%);
    }
    
}
@media only screen and (max-width:500px){
   
    .botbox{
        height: 600px;
        
    }.nir{
        height: 250px;
        width: 250px;
    }
    .detials{
        margin-top: 300px;
        font-size: 18px;
    }
}
@media only screen and (max-width:420px){
    .nir{
        height: 250px;
        width: 250px;
    }
    .detials{

        font-size: 18px;
    }

}