
.botbox{
    position: relative;
    margin-top: 50px;
    bottom: 0px;
    left: 0px !important;
    display: flex;
    width: 100%;
    height: 420px;
    align-items: center;
    background-color: black;
    justify-content:flex-start ;
    color: white;
}
.nir{
    
    border-radius: 50%;
    margin-left: 100px;   
}
.detials{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-left: 50px;
}
.projects{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-left: 70px;
}
.skill{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    margin-left: 70px;
}
.Link{
    color: white;
}